@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body {
    font-family: 'outfit', sans-serif;
    box-sizing: border-box;
    width: 100%;


    height: 100vh; // TODO CHANGE THIS LATER
}


// INPUTS
input{
    font-family: 'outfit', sans-serif;
    outline: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid gray;
}
