/*
 ---- 01 TYPOGRAPHY SYSTEM

 - FONT SIZES (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 ---- WHITESPACE

 - Spacing System (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

.text {
    font-family: var(--font-primary);
    color: var(--text-white);
    hyphens: auto;
    font-weight: 300;

    &--normal {
        font-size: var(--default-fs);
        line-height: 1.4;
    }

    &--small {
        font-size: var(--small-fs);
        line-height: 1.2;
    }

    &--red{
        color: var(--color-red);
    }
}


.heading-hero {
    font-size: var(--heading-hero-fs);
    font-family: var(--font-secondary);
    font-weight: 600;
    hyphens: auto;
    line-height: 1.2;
}

.heading-primary {
    font-family: var(--font-secondary);
    font-size: var(--heading-primary-fs);
    font-weight: 600;
    hyphens: auto;
    line-height: 1.2;
}


.heading-secondary {
    font-family: var(--font-primary);
    font-size: var(--heading-secondary-fs);
    font-weight: 600;
    hyphens: auto;
    line-height: 1.2;
}
