main {
    height: 500px;
}

// FEATURED SECTION
#featured-card:not(:last-child) {
    padding-right: 30px;
}


/*********************************
*         SECTION HERO           *
*********************************/

.section-hero {
    height: 100vh;
    width: 100%;

    background-image: url('../../public/assets/img/home/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    &__text-box {
        max-width: 50%;
    }
}

/*********************************
*       SECTION CATEGORIES       *
*********************************/

.section-categories {
    width: 100%;
    padding: 5rem 8rem 0 8rem;
}

.categories {
    max-width: 87.5rem;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*********************************
*       SECTION SELECTION        *
*********************************/

.section-selection {
    width: 100%;
    padding: 10rem 8rem;
}

.selection {
    max-width: 87.5rem;
    margin: 0 auto;

    display: flex;

    &__text-box {
        flex: 0 0 350px;
        padding-right: 20px;
    }
}

.product-box {
    width: 100%;

    &__categories {
        display: flex;
        align-items: center;
    }

    &__category {
        font-size: var(--medium-font-size);

        &:not(:last-child) {
            padding-right: 10px;
        }
    }

    &__products {
        display: flex;
    }
}
