/*********************************
*       SECTION PRODUCT          *
*********************************/

.section-product-single {
    width: 100%;
    padding: 7.812rem 5rem;
}

.product-single {
    max-width: 87.5rem;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-flow: row nowrap;

    &__img-box {
        flex: 0 0 50%;
        padding-right: 3rem;
        position: relative;
    }


    &__discount-box {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d70000;
        padding: 0.5rem 2rem;
    }

    &__discount {
        font-weight: 600;
        font-size: var(--medium-fs);
        font-family: var(--font-secondary);
    }

    &__main-img-box {
        width: 100%;
        height: 31.25rem;

        position: relative;
        border: 2px solid var(--color-primary);
    }

    &__main-img {
        width: 100%;
        height: 100%;

        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__img-carousel {
        display: flex;
    }

    &__sec-img {
        width: 6.25rem;
        height: 6.25rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid var(--color-grey-dark-4);

        &--active {
            border: 1px solid var(--color-primary);
            box-shadow: 0px 0px 8px var(--color-primary-light);
        }

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__text-box {
        flex: 0 0 50%;
        height: 31.25rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    &__title {
        font-family: var(--font-secondary);
        font-size: var(--product-single-fs);
        font-weight: 400;
    }

    &__rating-box {
        display: flex;
        align-items: center;
    }

    &__rating {
        margin-right: 10px;
    }

    &__total-reviews {
        margin-left: .5rem;
        font-size: var(--default-fs);
    }

    .properties {
        display: flex;
        justify-content: space-between;

        padding-bottom: .5rem;
        border-bottom: 1px solid var(--color-primary);
    }

    .property {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            font-size: var(--default-fs);
            padding-right: .5rem;
        }

        select, option {
            font-family: var(--font-primary);
            font-size: var(--small-fs);
            padding: 0.312rem 0.625rem;
            background-color: var(--color-grey-light-2);
            border: 1px solid var(--color-grey-light-2);
        }

        &__bean-icon-box {
            display: flex;
            align-items: center;

            svg {
                flex: 0 0 36px;
                margin-left: .75rem;
            }
        }
    }

    &__price-box {
        display: flex;
        align-items: center;

    }

    &__price {
        p {
            font-size: 2.5rem;
            font-weight: 400;
        }

        del {
            color: var(--color-grey-dark-3);
            text-decoration: none;
            position: relative;
            font-size: 2.5rem;
            font-weight: 100;

            &:before {
                content: "";
                display: block;
                width: 100%;
                border-top: 3px solid rgba(#777, 0.8);
                height: 4px;
                position: absolute;
                bottom: 1.25rem;
                left: 0;
                transform: rotate(-11deg);
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                border-top: 3px solid rgba(#777, 0.8);
                height: 4px;
                position: absolute;
                bottom: 1.25rem;
                left: 0;
                transform: rotate(11deg);
            }
        }

        ins {
            font-size: 3.75rem;
            font-weight: 500;
            text-decoration: none;
            padding: 1em 1em 1em .5em;
        }
    }

    &__actions {
        align-self: end;

        display: flex;
        align-items: end;
        justify-content: space-between;

        select, option {
            font-family: var(--font-primary);
            font-size: var(--default-font-size);
            padding: 0.5rem 1rem;
            font-weight: 400;

            width: 100%;
            background-color: var(--color-grey-light-2);
            border: none;
        }
    }

    &__action {
        flex: 0 0 48%;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .btn--primary {
            width: 100%;
        }
    }

    &__input-quantity-box {
        display: flex;
        align-items: center;

        input {
            padding: 0.5rem 1rem;
            font-size: var(--default-fs);
            text-align: center;
            border: none;
        }
    }

    &__quantity-arrow {
        padding: 0.5rem 1rem;
        background: none;
        border: 1px solid var(--color-primary);

        &--minus {
            margin-right: .25rem;
        }

        &--plus {
            margin-left: .25rem;
        }

    }
}

/*********************************
*       SECTION RELATED          *
*********************************/

.section-related {
    width: 100%;
    padding: 4rem 5rem;
}

.related {
    max-width: 87.5rem;
    margin: 0 auto;

    .heading-box {
        display: flex;

        svg {
            margin-right: 1rem;


        }
    }
}

.products-box {
    display: flex;


    .product-box {
        flex: 0 0 33%;

        display: flex;
        justify-content: center;
    }
}

/*********************************
*       SECTION REVIEWS         *
*********************************/

.section-reviews {
    width: 100%;
    padding: 7.812rem 5rem;
}

.reviews {
    max-width: 87.5rem;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;

    .heading-box {
        display: flex;
        justify-content: center;

        svg {
            margin-right: 1rem;
        }
    }

    &__rating-heading {
        font-size: var(--xl-fs);
        margin-right: 0.5rem;
    }

    &__content-box {
        display: flex;
        justify-content: space-between;
        word-break: break-all;
    }

    &__ratings {
        flex: 0 0 45%;
    }

    &__comments {
        flex: 0 0 45%;
    }

    &__no-comments-box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

}

/*********************************
*         SECTION WRITE          *
*********************************/

.section-write {
    width: 100%;
    padding: 3.125rem 5rem 7rem 5rem;
}

.write {
    max-width: 42rem;
    margin: 0 auto;
}

.form-review {

    input[type="text"], textarea {
        font-family: var(--font-primary);
        width: 100%;
        margin-top: .5rem;
        font-size: var(--default-fs);
        background: none;
        border: none;
        border-bottom: 1px solid var(--color-grey-light-4);
        color: var(--color-white);
        line-height: 1.4;
        outline: none;
        padding: .7rem 0;

        &:focus {
            outline: none;
            border-bottom: 1px solid var(--color-primary);
        }

        &:focus:invalid {
            border-bottom: 1px solid red;
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-4);
            font-weight: 300;
        }
    }

    textarea {
        font-weight: 300;
        height: 12.5rem;
        resize: none;
    }

    label {
        font-weight: 400;
        font-size: var(--medium-fs);
        margin-right: 1rem;
    }

    &__rating-box {
        display: flex;
        align-items: center;
    }

    &__star-box {
        position: relative;
        width: 48px;
        height: 48px;

        input {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            width: 0.1rem;
            height: 0.1rem;
            color: var(--color-black);
            border: none;
            z-index: 1;
        }
    }

    &__star-label {
        cursor: pointer;
    }
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .star-fill {
        fill: #cccccc;
    }

}

.star-active {
    .star-fill {
        fill: var(--color-primary) !important;
    }
}

.main-star-container {
    display: flex;
}

.main-star {
    width: 1.5em;
    height: 1.75em;
    position: relative;
    display: inline-block;
}

.main-star svg {
    position: absolute;
    top: 0;
    left: 0;
}

.main-star.full svg path {
    fill: var(--color-primary);
}
