button {
    border: none;
    cursor: pointer;
}

.btn {
    background: none;
    transition: all .2s;

    // styling anchors <a>
    &,
    &:link,
    &:active {
        display: inline-block;
        text-decoration: none;
        position: relative;
        font-family: var(--font-primary);
        transition: all 0.3s;
    }

    &--cta {
        display: inline-block;
        font-weight: 500;
        font-size: var(--btn-cta-fs);
        color: white;
        padding: 0.75rem 1.25rem;
        background-color: var(--color-primary);
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-black);
            box-shadow: 0 0 3px 3px rgba(#ad8153, 0.7);
        }
    }

    &--primary {
        display: inline-block;
        font-weight: 500;
        font-size: var(--default-font-size);
        color: white;
        padding: 0.5rem 1rem;
        background-color: var(--color-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-primary-dark);
        }
    }

    &--review {
        font-size: var(--small-fs);
        color: var(--color-grey-light-4);
        border: 1px solid var(--color-grey-light-4);
        padding: 0.25rem .75rem;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-white);
            border: 1px solid var(--color-white);
        }
    }

    &--continue {
        font-weight: 400;
        font-size: var(--default-fs);
        background-color: var(--color-grey-dark-2);
        padding: 0.25rem .75rem;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-white);
            background-color: var(--color-grey-dark-1);
        }
    }


}
