button{
    border: none;
    cursor: pointer;
}

.btn{
    background: none;
    font-size: 1.6rem;

    &--form{
        font-size: 2rem;
        color: white;
        width: 100%;
        padding: 1rem 2rem;
        background-color: maroon;
    }

    &--logout{
        font-size: 2rem;
        color: white;
        padding: 1rem 2rem;
        background-color: darkblue;
        text-align: center;
    }
}
