button {
    border: none;
    cursor: pointer;
}

.btn {
    background: none;
    transition: all .3s;

    &--cta {
        display: inline-block;
        font-weight: 500;
        font-size: var(--btn-cta-fs);
        color: white;
        padding: 0.75rem 1.25rem;
        background-color: var(--color-primary);
        text-transform: uppercase;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }
}
