.product {
    flex: 0 0 300px;
    height: 450px;
    border: 1px solid var(--color-primary-light);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include respond(phone){
        flex: 0 0 250px;
        height: 400px;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &__wish-icon {
        display: inline-block;
        position: relative;
        width: 36px;
        height: 36px;
        background: none;

        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__img-box {
        flex: 0 0 50%;
        position: relative;

        form {
            padding: 0.625rem;
            position: absolute;
            top: 0;
            right: 0;
            background: none;
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__content {
        flex: 0 0 50%;
        padding: 12px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &--1 {

        }

        &--2 {

        }
    }

    &__title {
        font-size: var(--medium-font-size);
    }

    &__category {
    }

    &__rating-box {
        display: flex;
        align-items: center;
    }

    &__rating {
        margin-right: 10px;

    }

    &__price {
        p {
            font-size: var(--large-fs);
            font-weight: 400;
        }

        del {
            color: var(--color-grey-dark-3);
            text-decoration: none;
            position: relative;
            font-size: var(--large-fs);
            font-weight: 100;

            &:before {
                content: "";
                display: block;
                width: 100%;
                border-top: 3px solid rgba(#777, 0.8);
                height: 4px;
                position: absolute;
                bottom: 1.25rem;
                left: 0;
                transform: rotate(-11deg);
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                border-top: 3px solid rgba(#777, 0.8);
                height: 4px;
                position: absolute;
                bottom: 1.25rem;
                left: 0;
                transform: rotate(11deg);
            }
        }

        ins {
            font-size: var(--large-fs);
            font-weight: 500;
            text-decoration: none;
            padding: 1em 1em 1em .5em;
        }
    }
}
