.footer {
    padding: 3.125rem 0 1.56rem 0;
    width: 100%;
    border-top: 2px solid var(--color-primary);

    &__box {
        max-width: 87.5rem;
        margin: 0 auto;
    }

    &__links-box {
        border-bottom: 2px solid var(--color-primary);
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

    }

    &__heading {
        font-size: var(--normal-font-size);
        font-weight: 500;
        color: var(--color-primary);
    }

    &__list {
        list-style: none;
    }

    &__link {
        font-size: var(--small-font-size);
        font-weight: 400;
        transition: all 0.2s;

        &:hover {
            color: var(--color-grey-light-4);
        }
    }

    &__payments-box {
        display: flex;
        flex-flow: row wrap;
        height: fit-content;
    }

    &__payment {
        flex: 0 0 33%;
        height: fit-content;
    }
}

.copy-box {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
            font-size: var(--xs-font-size);
            color: var(--color-grey-light-4);
        }

        a {
            color: var(--color-grey-light-4);
        }
    }

    .vat-text {
        font-size: var(--xs-font-size);
        color: var(--color-grey-light-4);

        span {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }
}

